body {
    background-image: url('imagens/fundo\ branco.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /* IMAGEM NO FUNDO BG E CENTRALIZADA */
    font-family: fantasy;
    text-align: justify;
    
    
}

h1 {
    text-align: right;
}

p {
    text-indent: 20px; /* add espaço no texto */
}